<script id="tmpl-Top" type="text/html">
	<div class="Top">
		<div class="navbar">
		  <div class="navbar-inner">
		    <ul class="nav">
		      <li data-nav="contact" class="menu active">Contacts</li>
		      <li data-nav="countrycustom" class="menu">Coutries</li>
		    </ul>
			  <div class="pull-right btn authAction" data-service="SF">SalesForce Auth</div>
		  </div>
		  
		</div>
	</div>
</script>